/*===================LESS=================================*/
.sans(@font-size: 13px){
	font-family: "PT Sans";
	font-size: @font-size;
	line-height: 14px;
	color: #1d2225;
}
* {
	-moz-box-sizing: border-box;  
  box-sizing: border-box; 
}
.serif__italic(@font-size: 16px){
	font-family: "PT Serif";
	color: #1d2225;
	font-style: italic;
	letter-spacing: .1px;
	font-size: @font-size;
}

.link{
	text-decoration: none;
	border-bottom: 1px solid #1d2225;
	display: inline-block;
	line-height: 16px;
}

.link_hover{
	color: #2f6b23;
	border-bottom: 1px solid #2f6b23;
}
.transition (@prop: all, @time: 1s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}
/*==================END_LESS==============================*/

.main-wrap{
	width: 1280px;
	margin: 0 auto;
}

.header{
	width: 980px;
	height: 200px;
	margin: 0 auto;
	clear: both;
}

.header__top{
	height: 42px;
	border-bottom: 2px solid #ede5cf;
}

.main-menu{
	float: left;
	margin-top: 10px;
	padding: 0px;
}

.main-menu__item{
	list-style: none;
	position: relative;
	display: inline;
	margin-right: 20px;
}

.main-menu__link{
	.sans();
	.link();
	&:hover{
		.link_hover();
	}
}

.header__cart{
	float: right;
	.sans();
	margin-top: 12px;
	position: relative;
}

.header__cart::before{
	content: '';
	position: absolute;
	left: -27px;
	top: -3px;
	width: 21px;
	height: 22px;
	background: url(../../f/i/cart-icon.png);
	display: block;
}

.header__cart__link{
	.sans();
	.link;
	&:hover{
		.link_hover;
	}
}

.header__main__logo{
	float: left;
	margin-top: 15px;
	margin-left: -10px;
}
.header__menu__item{
	margin-right: 0px;
	display: inline-block;
	vertical-align: top;
	margin-left: 25px;
	width: 120px;
	text-align: center;
	position: relative;
	&:before{
		content: '';
		height: 81px;
		top: 10px;
		left: 10px;
		width: 90px;
		position: absolute;
		background: url(../../f/i/main-menu-icons.png) no-repeat;
		z-index: -1;
	}
	&:after {
		opacity: 0;
		content: '';
		height: 81px;
		top: 10px;
		left: 10px;
		width: 90px;
		position: absolute;
		background: url(../../f/i/main-menu-icons.png) no-repeat;
		.transition(opacity, .2s, ease-in-out);
	}
	&:hover:after {
		opacity: 1;
	}
	&:hover .header__sub-menu{
		display: block;
	}
}

.header__menu__link{
	.serif__italic;
	text-align: center;
	display: block;
	margin-top: 35px;
	width: 120px;
	height: 85px;
	text-decoration: none;
	position: relative;
	z-index: 10;
}	


.header__menu__item_1 {
	&:before{
		background-position: 0 0;
	}
	&:after{
		background-position: 0 -81px;
	}
}

.header__menu__item_2 {
	&:before {
		background-position: -90px 0;
		left: 0;
	}
	&:after {
		background-position: -90px -81px;
		left: 0;
	}
}

.header__menu__item_3{
	&:before {
		left: 15px;
		background-position: -180px 0;
	}
	&:after {
		background-position: -180px -81px;
		left: 15px;
	}
}

.header__menu__item_4 {
	&:before{
		background-position: -270px 0;
	}
	&:after {
		background-position: -270px -81px;
	}
}

.header__sub-menu{
	display: none;
	position: absolute;
	top: 120px;
	left: 25px;
	z-index: 20;
	width: 275px;
	text-align: left;
	padding: 20px;
	list-style:none;
	border: 2px solid #222a2e;
	background: #fff;
	&:before{
		position: absolute;
		content: '';
		top: -10px;
		left: 30px;
		border: 10px solid transparent; 
		border-bottom-color: #000;  
		border-top: 0;
		display: block;
	}
	&:after{
		position: absolute;
		content: '';
		top: -7px;
		left: 30px;
		border: 10px solid transparent; 
		border-bottom-color: #fff;  
		border-top: 0;
		display: block;
	}
}

.header__sub-menu__item{
	height: 30px;
	padding-left: 10px;
	&:hover:after{
		content: "\2192";
		color: #2f6b23;
		margin-left: 3px;
		display: inline;
		border: none;
	}
	&:hover .header__sub-menu__link{
		.link_hover;
	}
}

.header__sub-menu__link{
	.serif__italic();
	.link;
}

.header__phone-wrap{
	float: right;
	margin-top: 20px;
}

.header__phone-wrap__code{
	.serif__italic;
	letter-spacing: .6px;
	margin-right: 10px;
}

.header__phone-wrap__phone{
	.serif__italic(30px);
	letter-spacing: .6px;
	font-weight: bold;
	margin-bottom: 10px;
	display: inline-block;
}

.header__map {
	color: #1d2225;
	position: relative;
	margin: 0 0 0 30px !important;
}

.header__map__link{
	.sans;
	.link;
	&:hover{
		.link_hover;
	}
	
	letter-spacing: .3px;
}

.header__map:before{
	content: '';
	display: block;
	background: url(../../f/i/map-icon.png);
	width: 20px;
	height: 23px;
	position: absolute;
	left: -25px;
	top: 0;
	cursor: pointer;
}

.header__map:hover:before{
	background-position: 0 -23px;
}

.header__map:after{
	content: "\2192";
	margin-left: 3px;
	display: inline;
	cursor: pointer;
}

.header__map:hover:after{
	color: #2f6b23;
}

.header__map:hover .header__map__link{
	.link_hover;
}

.main-banner{
	width: 976px;
	height: 396px;
	margin: 0 auto;
	clear: both;
	background: url(../../f/i/main-banner-back.jpg);
	border: 2px solid #222a2e;
	position: relative;
	
	&:before{
		content: '';
		position: absolute;
		background: url(../../f/i/main-banner-back-left.png);
		left: -113px;
		top: 155px;
		width: 112px;
		height: 212px;
	}
	
	&:after{
		content: '';
		position: absolute;
		background: url(../../f/i/main-banner-back-right.png);
		width: 153px;
		height: 298px;
		right: -153px;
		top: 20px;
	}
	
	&__pager{
		position: absolute;
		left: 212px;
		top: 340px;
	}
	
	&__pager a{
			display: inline-block;
			width: 11px;
			height: 11px;
			border: 2px solid #222a2e;
			font-size: 0;
			line-height:0;
			background: #fff;
			margin-right: 9px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			
			&.selected{
				background: #ec5f3d;
			}
			
			&:hover{
				border: 2px solid #2f6b23;
			}
		}	
	
	&__holder{
		width: 956px;
		height: 378px;
		margin: 8px;
		border: 1px solid #222a2e;
		overflow: hidden;
		background: #f9f8f7;
		&__slider{
			list-style: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
	}	
	
	&__wrap{
		width: 940px;
	}
	
	&__item{
		height: 378px;
		width: 956px;
		margin: 0;
		list-style: none;
		padding: 0;
		display: block;
		float: left;
		position: relative;
	}
	
	&__image{
		float: left;
		height: 378px;
	}
	
	&__info{
		float: right;
		width: 475px;
		height: 378px;
		
		&__title{
			.serif__italic(30px);
			text-align: center;
			display: block;
			width: 350px;
			margin-left: 65px;
			margin-top: 30px;
			position: relative;
			letter-spacing: .1px;
		}
		
		&__title:after{
			content: '';
			position: absolute;
			background: url(../../f/i/main-slides/info-separator.png);
			bottom: -50px;
			left: 10px;
			width: 320px;
			height: 35px;
		}
		
		&__text{
			.sans(14px);
			padding: 0 45px;
			text-align: center;
			letter-spacing: .4px;
			line-height: 25px;
			margin-top: 75px;
		}
		
		&__more{
			margin-left: 185px;
		}
		
		&__more:after{
			content: "\2192";
			margin-left: 3px;
			display: inline;
			cursor: pointer;
		}
		
		&__more:hover:after{
			color: #2f6b23;
		}
		
		&__more__link{
			.serif__italic;
			.link;
		}
		
		&__more:hover &__more__link{
			.link_hover;
		}
	}
}
.prof-center {
	margin: 0 auto;
	width: 1010px;
}
.prof-center__main {
	height: 441px;
	margin-top: 20px;
	position: relative;
	background: url(../../f/i/prof-center-back.jpg) no-repeat;
	z-index: 2;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 441px;
		width: 1007px;
		opacity: 0;
		background: url(../../f/i/prof-center-back.jpg) no-repeat 0 -441px;
		.transition(opacity, .2s, ease-in-out);
		z-index: -1;
	}
	&:hover:before {
		opacity: 1;
	}
	&__title{
		.serif__italic(30px);
		display: block;
		width: 550px;
		margin: 0 auto;
		padding-top: 30px;
		text-align: center;
		letter-spacing: .2px;
	}
	
	&__address{
		.serif__italic;
		display: block;
		text-align: center;
		letter-spacing: .1px;
		padding-top: 12px;
	}
	
	&__links{
		margin: 0 auto;
		width: 320px;
		padding-top: 35px;
	}
	
	&__map{
		margin-left: 20px;
		position: relative;
		&:before{
			content: '';
			display: block;
			background: url(../../f/i/map-icon.png) no-repeat;
			width: 20px;
			height: 23px;
			position: absolute;
			left: -25px;
			top: 0;
			cursor: pointer;
		}
		
		&:hover:before{
			background-position: 0 -23px;
		}
	
		&:after{
			content: "\2192";
			margin-left: 3px;
			display: inline;
			cursor: pointer;
		}
		
		&:hover:after{
			color: #2f6b23;
		}
		
		&__link{
			.serif__italic;
			.link;
		}
		
		&:hover &__link{
			.link_hover;
		}
	}
	
	&__catalog{
		float: right;
		
		position: relative;
		&:before{
			content: '';
			display: block;
			background: url(../../f/i/catalog-icon.png) no-repeat;
			width: 24px;
			height: 20px;
			position: absolute;
			left: -30px;
			top: 0;
			cursor: pointer;
		}
		
		&:hover:before{
			background-position: 0 -20px;
		}
		
		&:after{
			content: "\2192";
			margin-left: 3px;
			display: inline;
			cursor: pointer;
		}
		
		&:hover:after{
			color: #2f6b23;
		}
		
		&__link{
			.serif__italic;
			.link;
		}
		
		&:hover &__link{
			.link_hover;
		}
	}
}

.prof-center__detail{
	.sans(14px);
	letter-spacing: .3px;
	line-height: 24px;
	margin-top: 35px;
	padding: 0 30px;
	&__text{
		display: inline-block;
		width: 50%;
		padding-right: 30px;
		vertical-align: top;
	}
}

.about-center{
	width: 1000px;
	margin: 45px auto 30px;
	text-align: center;
	padding: 0 30px;
	&__detail {
		
	}
	&__title{
		.serif__italic(30px);
		letter-spacing: .1px;
		position: relative;
		margin: 0 0 30px;
		
		&:after{
			content: '';
			position: absolute;
			background: url(../../f/i/about-center-separator.png);
			bottom: -50px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 260px;
			height: 35px;
		}
	}
	
	&__text{
		margin-top: 52px;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-right: 30px;
		.sans(14px);
		letter-spacing: .3px;
		line-height: 25px;		
	}
	
	&__more{
		display: block;
		margin-top: 15px;
		cursor: pointer;
		&:after{
			content: "\2192";
			margin-left: 3px;
			display: inline;
			cursor: pointer;
		}
		
		&:hover:after{
			color: #2f6b23;
		}
		
		&__link{
			.serif__italic;
			.link;
			letter-spacing: .7px;
			
		}
		
		&:hover &__link{
			.link_hover;
		}
	}
	
	&__btn{
		text-align: left;
		width: 355px;
		margin-top: 35px;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-right: 30px;
		padding-left: 100px;
		position: relative;
		&__link {
			text-decoration: none;
		}
		&__link span {
			.link;
			.serif__italic;
			
			color: #1d2225;
		}
		&__link:hover span {
			.link_hover;
		}
		.icon-blog,
		.icon-video,
		.icon-blog:after,
		.icon-video:after {
			background: url(../../f/i/about-center-btn.png);
			width: 80px;
			height: 80px;
			position: absolute;
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			left: 0;
			top: 0;
			.transition(opacity, .2s, ease-in-out);
		}
		.icon-blog {
			background-position: -80px 0;
		}
		.icon-blog:after {
			background-position: -80px -80px;
			content: '';
			opacity: 0;
		}
		.icon-video:after {
			background-position: 0 -80px;
			content: '';
			opacity: 0;
		}
		a:hover .icon-blog:after,
		a:hover .icon-video:after {
			opacity: 1;
		}
		&__title {
			.serif__italic(16px);
			.link;
			position: relative;
		}
		&__text {
			.sans(14px);
			margin-top: 10px;
			display: inline-block;
			vertical-align: top;
			line-height: 24px;
			letter-spacing: .3px;
		}
	}
	&__slider {
		margin: 30px auto 0;
		padding: 0;
		width: 590px;
		height: 400px;
		background: url(../../f/i/about-center-slider/slider-back.jpg) no-repeat;
		position: relative;
		&__wrap {
			overflow: hidden;
			width: 568px;
			height: 389px;
			margin-left: 11px;
			padding-top: 11px;
			
		}
		
		&__content {
			padding: 0;
			margin: 0;
		}
		&__item {
			height: 389px;
			display: block;
			float: left;
			position: relative;
			overflow: hidden;
		}
		&__image{
			width: 580px;
		}
		&__next{	
			.serif__italic;
			.link;
			letter-spacing: .8px;
			position: absolute;
			right: -160px;
			top: 190px;
			&:before{
				content: '';
				position: absolute;
				left: -50px;
				top: 2px;
				width: 38px;
				height: 14px;
				background: url(../../f/i/about-center-slider/slider-arrows.png) 0 0 no-repeat;
			}
			cursor: pointer;
			&:hover {
				.link_hover;
				&:before{
					background-position: 0 -14px;
				}
			}
		}
		&__prev {	
			.serif__italic;
			.link;
			letter-spacing: .8px;
			position: absolute;
			left: -175px;
			top: 190px;
			&:before {
				content: '';
				position: absolute;
				right: -60px;
				top: 2px;
				width: 38px;
				height: 14px;
				background: url(../../f/i/about-center-slider/slider-arrows.png) -38px 0 no-repeat;
			}
			cursor: pointer;
			&:hover {
				.link_hover;
				&:before{
					background-position: -38px -14px;
				}
			}
		}
	}
	&__partners {
		&__title{
			.serif__italic(20px);
			margin-top: 45px;
			display: block;
		}
		&__separator {
			display: inline-block;
			border-top: 2px solid #212a2e;
			width: 70px;
			margin-top: 25px;
		}
		&__slider {
			width: 100%;
			margin-bottom: 30px;
			position: relative;
			&__wrap {
				margin: 0 auto;
				overflow: hidden;
				width: 760px;
			}
			&__content {
				padding: 0;
				list-style: none;
				overflow: hidden;
			}
			&__item {
				width: 170px;
				height: 80px;
				margin-top: 10px;
				float: left;
				display: block;
				position: relative;
				overflow: hidden;
				margin-right: 25px;
			}
			&__link {
				display: block;
			}
			&__link:hover &__image{
				filter: none;
				-webkit-filter: none; 
			}
			&__image {
				filter: saturate(0);
				-webkit-filter: saturate(0); 
			}
		}
		&__slider__next {	
			position: absolute;
			right: 35px;
			top: 55px;
			width: 38px;
			height: 14px;
			background: url(../../f/i/about-center-slider/slider-arrows.png) 0 0 no-repeat;
			cursor: pointer;
			&:hover {
				background-position: 0 -14px;
			}
		}
		&__slider__prev {	
			position: absolute;
			left: 30px;
			top: 55px;
			right: -60px;
			height: 14px;
			width: 38px;
			background: url(../../f/i/about-center-slider/slider-arrows.png) -38px 0 no-repeat;
			cursor: pointer;
			&:hover {
				background-position: -38px -14px;
			}
		}
	}
}
.about-center__detail {
	width: 100%;
	max-height: 0px;
	overflow: hidden;
	&_active {
		max-height: 5000px;
		.transition(max-height, .8s, ease-in-out);
	}

}
.bottom-menu-wrap {
	width: 980px;
	margin: 0 auto;
	border-bottom: 2px solid #ede5ce;
}

.bottom-menu {
	width: 980px;
	padding: 200px 0 0;
	margin-bottom: 40px;
	margin-left: -17px;
	&__item {
		display: block;
		display: inline-block;
		vertical-align: top;
		width: 179px;
		text-align: center;
		position: relative;
		margin-left: 17px;
	}
	.bottom-icon {
		text-decoration: none;
		&:before,
		&:after {
			content: '';
			top: -190px;
			height: 169px;
			width: 145px;
			left: 0;
			right: 0;
			margin: 0 auto;
			display: inline-block;
		 	position: absolute;
			background: url(../../f/i/bottom-menu-icons.png) no-repeat;
		}
		&:after {
			opacity: 0;
			.transition(opacity, .2s, ease-in-out);
		}
		&_1 {
			&:before {
				background-position: 0 0;
			}
			&:after {
				background-position: 0 -169px;
			}
		}
		&_2 {
			&:before {
				background-position: -145px 0;
			}
			&:after {
					background-position: -145px -169px;
			}
		}
		&_3 {
			&:before {
				background-position: -290px 0;
			}
			&:after {
					background-position: -290px -169px;
			}
		}
		&_4 {
			&:before {
				background-position: -435px 0;
			}
			&:after {
					background-position: -435px -169px;
			}
		}
		&_5 {
			&:before {
				background-position: -580px 0;
			}
			&:after {
				background-position: -580px -169px;
			}
		}
	}
	a:hover .bottom-icon:after {
		opacity: 1;
	}
	&__link {
		.serif__italic;
		.link;
		padding-top: 169px;
		text-decoration: none;
		display: inline;
		letter-spacing: .8px;
	}
	&__link:hover {
		.link_hover;
	}
		
	&__text{
		.sans(14px);
		display: block;
		margin-top: 10px;
		line-height: 22px;
		letter-spacing: .8px;
	}
}

.bottom-map{
	width: 1000px;
	margin: 0 auto;
	margin-top: 15px;
	&__title{
		.serif__italic(30px);
		margin: 35px 0 0 30px;
		display: block;
		float: left;
	}
	
	&__bookmark{	
		float: left;
		width: 250px;
		margin: 25px 0 0 120px;
		position: relative;
		
		&__link{
			display: block;
			cursor: pointer;
		}
		
		&__title{
			.serif__italic(16px);
			.link;
			letter-spacing: .8px;
			
			&:before{
				content: '';
				height: 65px;
				top: 0px;
				left: -60px;
				width: 54px;
				position: absolute;
				background: url(../../f/i/big-map-icon.png) no-repeat;
			}
		}
		
		&__detail{
			.sans(14px);
			display: inline-block;
			margin-top: 5px;
			line-height: 22px;
			letter-spacing: .3px;
		}
		
		&_store{
			margin-left: 100px;
		}
		
		&_active &__title{
			.link_hover;
			&:before{
				background-position: 0 -65px;
			}
		}
	}
	
	&__holder{
		width: 980px;
		height: 270px;
		margin: 35px 8px;
		border: 2px solid #1d2225;
	}
		
	&__content{
		display: none;
		position: relative;

		&:before{
			content: '';
			height: 14px;
			top: -14px;
			left: 300px;
			width: 20px;
			position: absolute;
			background: url(../../f/i/map-arrow.png) no-repeat;
		}
		
		&_1{
			&:before{
				left: 300px;
			}
		}
		
		&_2{
			&:before{
				left: 648px;
			}
		}
	}
	
	&__content_active{
		display: block;
	}
}

.footer{
	width: 980px;
	margin: 0 auto;
	height: 100px;
}

.main-menu_bottom .main-menu__link{
	.sans(14px);
	letter-spacing: .3px;
}

.main-menu_bottom .main-menu__link:hover{
	.link_hover;
}

.main-menu_bottom .main-menu__item{
	margin-right: 13px;
}

.made-by{
	.sans(14px);
	margin-top: 10px;
	float: right;
	letter-spacing: .4px;
	
	&__link{
		.sans(14px);
		.link;
		
		&:hover{
			.link_hover;
		}
	}
}

.copyright{
	display: block;
	.sans(14px);
}

@media all and (max-width: 1024px){
	.main-wrap{
		width: 1000px;
	}
	
	.header{
		width: 960px;
	}
	
	.main-banner{
		&:before{display: none;}
		&:after{display: none;}
	}
		
	.prof-center__main__back-image{
		margin-left: 15px;
		width: 980px;
	}
	
	.header__sub-menu{
		width: 250px;
	}
	
	.footer{
		width: 960px;
	}
}